
	.topic{
		text-align: center;
		text-decoration: underline;
		color: #212121;
	}
	.description{
		text-align: center;
		color: #4DBC7F;
	}
	.container{
		width:80%;
	}
	#input,#output{
		width:100%;
		padding: 10px;
	}
	#output{
		background: #FCFCFC;
	}
	#legend,#legend2{
		text-align:center;
		font-weight: bold;
	}
	#legend2{
		color:#2F96B4;
		font-size: 26px;
	}
	#sendButton{
		margin-left: 48%;
	}
	#outputTable{
		margin-left: 8%;
		width: 82%;
	}
	#radioStyle{
		margin-left: 42%;
		font-weight: bold;
		color: red;

	}
	#error{
		color: red;
		font-size: 20px;
		font-style: italic;
		margin-left: 44%;
	}
	input[type=button]{
		margin-left: 10%;
		margin-top: 1%;
	}
	#links{
		margin-left: 20%;
		margin-top: 1%;
	}
	#tour{
		font-size: 18px;
		float: left;
		margin-left: 10%;
	}

	#details {
		font-size: 21px;
		line-height: 28px;
		font-family: 'Lato', sans-serif;
	}

	#social-media-cons {
  		margin-top: 10px;
 	}
	#social-media-cons a{
		text-decoration: none;
 	}

 	footer
 	{
 		position: absolute;
    font-size: 22px;
    font-weight:500;
    text-align: center;
    height: 100px;
    background: #fff;
   width: 80%;
    margin: 0 auto;
    background: black;
    
    padding: 12px;
    color: #636363;
    line-height: 12px;
}

#footer_text{

  font-size: 27px;
  color: #37B78C;
}


a .icon-stackexchange, .icon-github, .icon-linkedin, .icon-twitter {
text-decoration: none;
}
.icon-stackexchange, .icon-github, .icon-linkedin, .icon-twitter {
color: #C0C0C0; 
margin-left: 15px;
transition: all 0.5s ease 0.2s;
text-decoration: none;
}

.icon-linkedin:hover {
  color: #65B7D2;
  text-decoration: none;
}
.icon-twitter:hover {
color: #45B0E3;
text-decoration: none;
}

.icon-stackexchange:hover {
color: #FF8A1B;
text-decoration: none;
}

.icon-github:hover {
color: #333333;
text-decoration: none;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}