<!DOCTYPE html>
<html lang="en">
<head>
<title>JSON2HTML| HOME</title>
<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/main.css">
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
<a href="https://github.com/softvar"><img style="position: fixed; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
<div id="container" style="width:60%;margin: 0 auto;">
	<h1 class="topic">JSON 2 HTML</h1>
	<a href="/"><input type="button" class="btn btn-info" value="Back"  /></a>
    <h3 class="description">JSON Object will be converted to readable HTML format</h3>
    <legend></legend>
    <span id="details">
    This project aims to convert JSON Object to HTML representation.
    Non-technical audience find it difficult to understand JSON representation. This app aids them in learning and better understanding of deploying JSON.
    <br /><br />
    This project has been developed using open-source python web framework FLASK.
    The design has been implemented using Twitter-Bootstrap and font-awesome library, built over Bootstrap.
    <br /><br />
    For any other queries, drop your words to me at <a href="mailto:varun2902@gmai.com" style="color:red;">varun2902@gmail.com</a>

    </span>

    

</div>

</body>
</html>