<!DOCTYPE html>
<html lang="en">
<head>
<title>JSON2HTML| HOME</title>
<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/main.css">
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" />
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
<a href="https://github.com/softvar/json2html-flask"><img style="position: fixed; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
<div id="container" style="width:60%;margin: 0 auto;">
	<h1 class="topic"><a href="/">JSON 2 HTML</a></h1>
    <h3 class="description">JSON Object will be converted to readable HTML format</h3>
    <ul>
    <li>

    <a href="https://twitter.com/s0ftvar" class="twitter-follow-button" data-show-count="true">Follow @s0ftvar</a>
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    </li>
    <li>
    
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="s0ftvar">Tweet</a>
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    </li>
    <li>
 
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=softvar&repo=json2html-flask&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    
    </li>
    <li>
    
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=softvar&repo=json2html-flask&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
    
    </li>
    </ul>
    <br/><br/>
    <legend></legend>
    <div id="details">
    JSON2HTML is a python web-app which helps in converting a JSON Object into its HTML representation i.e HTML Tables.
    Non-technical audience and even sometimes Geeks get confused in understanding the JSON representation which constitutes a whole complex list of <i>strings, numbers, arrays, sub-arrays, sub-objects and so on</i>. This web-app provides them learning and better understanding of complex JSON.
    <br /><br />
    <blockquote class="pull-right">
    <p>It has been said that 80% of what people learn is VISUAL.</p>
    <small>Allen Klein</small>
    </blockquote>
    <br/><br/><br/>
    This app has been developed using Open-Source technologies, mainly over a micro 'web'-framework for  python - <a href="http://flask.pocoo.org/">FLASK</a>.
    The overall design has been implemented using <a href="http://getbootstrap.com/2.3.2/">Twitter-Bootstrap</a> and <a href="http://fortawesome.github.io/Font-Awesome/3.2.1/">Font-awesome library</a>.
    <br /><br />
    For any other queries, drop your words to me at <a href="mailto:varun2902@gmai.com" style="color:red;">varun2902@gmail.com</a>
    <br/><br/>
    <p>Cheers! <i class="icon-thumbs-up"></i></p>
    
    
    </div>
</div>

</body>
</html>