<!DOCTYPE html>
<html lang="en">
<head>
<title>JSON2HTML| HOME</title>
<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/main.css">
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" />
</head>
<body onload = "process()">
	
	<a href="https://github.com/softvar/json2html-flask"><img style="position: fixed; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
	<div class="container" style="width:70%;margin: 0 auto;">
    <h1 class="topic">JSON 2 HTML</h1>

    <div id="links">
        <ul>
        <a href="/about" id="tour">About</a>
        <a href="https://github.com/softvar/json2html" id="tour" target="_blank">json2html Python package</a>
        <a href="http://softvar.github.io" id="tour" target="_blank">Developer</a>
        </ul>
    </div>

    <br/>
    
    <h3 class="description">JSON Object to Human friendly and readable HTML format</h3>
    <div class="socio">
    <ul>
    <li>

    <a href="https://twitter.com/s0ftvar" class="twitter-follow-button" data-show-count="true">Follow @s0ftvar</a>
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    </li>
    <li>
    
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="s0ftvar">Tweet</a>
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
    </li>
    <li>
 
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=softvar&repo=json2html-flask&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    
    </li>
    <li>
    
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=softvar&repo=json2html-flask&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
    
    </li>
    </ul>
    </div>
    <br/><br />
  
    <form action="." method="POST">
    	<p id="legend2">Input JSON Object</p>
        <span id="json-error">{{ error }}</span>
        <textarea id="input" rows="15" placeholder='Example:
        {"Project":
            {"name" :"Json2Html","Type":"JSON Object"},
        "Function":"Conversion"}' name="text">{{ pro }}</textarea>
        <br />
        <div id="radioStyle">
        <span style="margin-left:8%;">Raw Styling: </span> <input type="radio" class="myClass" value="2" checked name="users"/><br />
        <span >Styling using Bootstrap-Twitter: </span><input type="radio" class="myClass" value="1"  name="users"/></div>
        <br />
        <input type="submit" name="my-form" value="Send" id="sendButton" class="btn btn-success">
    </form>
    
    <div id="table" style="display:none;">{{ processed_text }}</div>

    <div id="outputTable"></div>
    <br />
    <legend id="legend2">Auto-Generated HTML Table Code:</legend>
    <textarea id="output" rows="15" placeholder="HTML Generated Table Code for Copy/Share purposes" readonly></textarea>
        <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'json2html'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
    <footer>
      
      <div id="social-media-cons">
            <a href="http://www.linkedin.com/pub/varun-malhotra/71/a14/131" target="_blank"><i class="icon-linkedin icon-2x " title="LinkedIn" ></i></a>

            <a href="http://twitter.com/s0ftvar" target="_blank" ><i class="icon-twitter icon-2x " title="Twitter" ></i></a>

            <a href="http://stackoverflow.com/users/2494535/varun-malhotra" target="_blank"><i class="icon-stackexchange icon-2x " title= "Stackoverflow"></i></a>
            
            <a href="http://github.com/softvar" target="_blank"><i class="icon-github icon-2x " title="Github"></i></a>

      </div>
      <br />
      <span id="footer_text">Built with</span> <i class="icon-heart" style="color:red"></i>
      
      
  </footer>
    </div>

    
    <script type="text/javascript" src="{{ url_for('static', filename='convert.js') }}"></script>
    

</body>
</html>